.morse-btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 15px;

  display: none;

  /* stop user selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* MAIN BTNS  */
.main-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.morse-btn {
  background-color: rgb(58, 39, 64);
  height: 60px;
  width: 100%;
  border-radius: 5px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  /* stop user selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.morse-btn:active {
  background-color: rgb(44, 38, 45);
}

/* OTHER BTNS  */
.other-btns {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.other-btn {
  background-color: rgb(58, 39, 64);
  height: 60px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  /* stop user selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.other-btn:active {
  background-color: rgb(44, 38, 45);
}

.space-btn {
  font-size: 30px;
}

.erase-btn {
  font-size: 30px;
}

.forward-slash-icon {
  font-size: 30px;
}

.remove-highlight {
  /* stop user selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* ::selection {
  color: none;
  background: none;
} */

/* Disable tap/click effect on buttons */
.morse-btn,
.other-btn {
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight in iOS */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For Android */
  touch-action: manipulation; /* Improve responsiveness and disable double tap zoom in some browsers */
}

.morse-btn:focus,
.other-btn:focus {
  outline: none;
}
